<mat-toolbar><span>Home</span></mat-toolbar>

<div class="view">  
  <mat-card class="title-card">
    <mat-card-title>Wait 4 Me!</mat-card-title>
  </mat-card>
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list role="list">
          <mat-list-item *ngFor="let l of locations">{{ l }}</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<button mat-raised-button>Test this</button>