.menu-container {
    position: fixed;
    right: 0;
}

.wait-view {
    display: grid;
    grid-gap: 20pt;
    justify-content: center;
}

.wait-view mat-expansion-panel {
    width: 400px;
    margin: auto;
    margin-top: 10pt;
}

.wait-view mat-expansion-panel .panel-description {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wait-view mat-expansion-panel mat-list {
    max-height: 50vh;
    overflow-y: scroll;
}

.item-description {
    color: grey;
} 

.wait-view button {
    margin: auto;
    font-size: 28pt;
    width: 100pt;
    height: 100pt;
}

.wait-view .wait-timer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: -1pt;
    color: firebrick;
}

.search-view .table-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .search-view .mat-table {
    overflow: auto;
    max-height: 500px;
  }