.view {
    display: grid;
    grid-gap: 20pt;
    justify-content: center;
}

.view .title-card {
    text-align: center;
}

.view mat-expansion-panel {
    width: 400px;
}

.panel-description {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-description {
    color: grey;
} 

.view button {
    margin: auto;
    font-size: 28pt;
    width: 100pt;
    height: 100pt;
}