<mat-toolbar><span>Home</span></mat-toolbar>

<div class="view">  
  <mat-card class="title-card">
    <mat-card-title>W8 4 Me!</mat-card-title>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel [expanded]="expanded" (opened)="expanded = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          My Location:
        </mat-panel-title>
        <mat-panel-description class="panel-description">
          {{ selectedLocation?.name || 'Select your location!' }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-list>
          <mat-list-item *ngFor="let l of locations" (click)="selectedLocation = l; expanded = false">
            <h4 mat-line class="item-name">{{ l.name }}</h4>
            <p mat-line class="item-description">{{ l.description }}</p>
          </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <button mat-fab color="accent" *ngIf="selectedLocation" (click)="startStopSession()">{{ session ? 'Stop' : 'Start' }}</button>
</div>

<button mat-raised-button *ngIf="false">Test this</button>







